.footer {
  background-color: #111;
  color: white;
  height: 40px;
  text-align: center;
  font-weight: bold;
  padding-top: 20px;
}

@media (max-width: 400px) {
  .footer {
    font-weight: normal;
  }
}
